<a href="https://front.codes/" class="logo" target="_blank">
  <img src="/assets/img/Logo_ESPRIT_Ariana.jpg" />
</a>

<input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon" />
<label for="menu-icon"></label>
<nav class="nav">
  <ul class="pt-5">
    <li><a (click)="navigate('home')">Home</a></li>
    <li><a (click)="navigate('ressource')">Ressources</a></li>
    <li><a (click)="navigate('books')">PFE Books</a></li>
    <li><a (click)="navigate('profile')">Profile</a></li>
  </ul>
</nav>
