/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Container styles */
  .all {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #ff4c4c, #333);
  }
  
  .container {
    max-width: 500px; /* Consistent with the success page */
    width: 100%;
    background-color: #fff;
    padding: 20px 25px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  
  .container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    color: #333;
  }
  
  .container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #ff4c4c, #333);
  }
  
  .container .content {
    color: #333;
    margin-top: 20px;
    text-align: center;
  }
  
  /* Media queries */
  @media (max-width: 584px) {
    .container {
        max-width: 100%;
    }
  }
  