.mat-table-header {
    background-color: #f44336; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    border-radius: 4px;
    color: white;
    font-weight: bold;
  }
  .b{
    background-color: white;
    border: 0;
  }