<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Angular App</title>
  <link rel="stylesheet" > <!-- Adjust the path if needed -->
</head>
<body>

   <!-- Hero Section -->
   <section class="hero">
    <h1>Welcome to ESPRIT E-Library</h1>
    <p>Your go-to resource for books, research papers, and more!</p>
  </section>

    <!-- Quote Section -->
<section class="quotes">
  <h2>Quotes of the Day</h2>
  <div class="quote-container">
    <blockquote>"The only thing that you absolutely have to know, is the location of the library." - Albert Einstein</blockquote>
    <blockquote>"A room without books is like a body without a soul." - Cicero</blockquote>
    <blockquote>"Books are a uniquely portable magic." - Stephen King</blockquote>
    <blockquote>"The man who does not read has no advantage over the man who cannot read." - Mark Twain</blockquote>
    <blockquote>"So many books, so little time." - Frank Zappa</blockquote>
  </div>
</section>


<!-- Links Section -->
<section class="links">
<h2>Useful Links</h2>
<div class="link-container">
  <a href="https://esprit.tn" target="_blank" class="link-item">
    <img src="/assets/img/Logo_ESPRIT_Ariana-removebg-preview.png" alt="esprit.com" class="link-logo"/>
  </a>
  <a href="https://esprit-tn.com/esponline/online/default.aspx" target="_blank" class="link-item">
    <img src="/assets/img/espaceetudiant.png" alt="espace etudiant esprit" class="link-logo"/>
  </a>
  <a href="https://honoris.net/" target="_blank" class="link-item">
    <img src="/assets/img/honoris.png" alt="honoris" class="link-logo"/>
  </a>
  <!-- Add more links as needed -->
</div>
</section>
</body>

</html>
